.image-with-tips-wrapper {
    display: flex;
    justify-content: center;
}

#image-with-tips {
    width: 1000px;
    position: relative;
}
.tip {
    position: absolute;
    background: yellow;
    width: 12px;
    height: 12px;
    z-index: 100;
    border-radius: 50%;
}

.description {
    position: absolute;
    margin: 0;
    width: max-content;
}

#background-for-tips {
    position: absolute;
    top: 0;
    left: 0;
}

.image-with-tips-back-btn-wrapper {
    position: relative;
    z-index: 100;
}

.hidden {
    display: none!important;
}

#image-with-tips-position {
    position: absolute;
    width: 100%;
}

.highlight-tip {
    color: red;
    box-shadow: 2px 2px black;
}

.main-info {
    position: relative;
    z-index: 101;

    top: 225px;
    left: 120px;
}

#image-with-tips-order {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 171px;
    gap: 5px;
}
